.sidebar-nav .btn-primary:not(:disabled):not(.disabled):active,
.sidebar-nav .btn-primary:not(:disabled):not(.disabled).active {
    color: #ffffff;
    background-color: #3b1142;
    border-color: #3b1142;
}
