.card ul.card-actions.icons {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    right: 10px;
    top: 15px;
}

ul.card-actions.icons li {
    display: inline-block;
    width: 100%;
}

.form-label-button {
    position: absolute;
    right: 0px;
    top: 10px;
}
