.alertify-notifier .ajs-message.ajs-error {
    background: rgb(218 21 21 / 95%);
    color: white;
}

.alertify-notifier .ajs-message.ajs-success {
    background: rgb(3 173 43 / 95%);
    color: white;
}
