#timeline-elements .material-icons {
    font-size: unset;
}

#timeline-elements .comment-form img {
    max-width: 30px;
}

#timeline-elements .comment-form {
    width: 100%;
    padding-top: 20px;
}

#timeline-elements .comment-form .input-group .input-group-text {
    padding: 0 15px 0 0;
}

.btn-round i {
    font-size: 1rem!important;
}

#timeline-elements .share-content .avatar {
    max-width: 30px;
}
#timeline-elements .share-content a {
    color: #3C4858;
    font-weight: bold;
}
